body{
    margin:0;
}
.navbar-brand img{
    width:30px;
    height:30px;
    border-radius: 10px;
}
.school{
    background-color:rgba(52, 73, 94, 0.6);
    text-align: center;
    margin-bottom: 0;
    color:#fff;
    padding:10px;
}
.car-img img{
    width: 480px;
    height: 480px;
    padding: 10px;
    border-radius: 20px;
}
.caro-area{
    background-color: gray;
}
.card img{
    width:200px;
    height: 200px;
    margin: auto;
    padding: 15px;
}
.card{
    background-color: lightslategray;
}
.row{
    border: 3px solid rgb(26, 14, 14);
}
.headrr{
    padding: 0;
    border: 2px solid lightseagreen;
    margin: 0;
    background-color: rgb(1, 76, 150);
    
}
.hddi{
    width: 250px;
    height: 250px;
    float: left;
    padding: 8px;
}
.pppp{
    padding: 5px;
    color: maroon;
    line-height: 30px;
}
.ppppp{
    font-weight: bold;
    font-size: 30px;
    color: rgb(25, 91, 156);
    margin: 0;
    padding: 0;
}

.clg{
    text-align: center;
    font-weight: bold;
    color: rgb(163, 39, 7);
    padding: 5px;
    background-color:rgba(52, 73, 94, 0.6);
}
.ttt{
    text-align: center;
    border: 1px solid lightskyblue;
    background-color: lightsteelblue;
}
.cbody{
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}
.lll{
    margin-bottom: 8px;
}
.ccc{
    color: rgb(122, 49, 15);
    text-align: center;
}
.tttt{
    color: rgb(82, 4, 4);
}
.kkk{
    color: rgb(253, 5, 5);
    background-color: rgb(36, 26, 11);
    padding: 10px;
}
.card-body a{
    text-decoration: none;
}
.card-body{
    margin: auto;
}
.mddd{
    margin-top: 20px;
}

.fix{
    overflow: hidden;
}
.main_footer_bg{
    background: url(images/main_footer_bg.png)repeat-x;
    background-size: cover;
    padding-bottom: 10px;
}
.left_footer p{
    color: #aaaaaa;
    font-family: qlassik;
    font-size: 14px;
    margin:5px 5px;
}
.left_footer{
    float: left;
}
.right_footer{
    float:right;
}
.right_footer ul{
    list-style: none;

}
.right_footer ul li{
    padding: 0 5px;
    float: left;
}
#footer{
    margin-top:20px;
}
.container_full{
    background-color: rgb(0, 116, 67)
}